nav {
    color: black;
}

body {
    background-color: rgba(171, 194, 225, 0.678);
}

.NavBar {
transform: translateX(200px);
}

.container-fluid {
justify-content: center; 
font-family: Garamond, serif;
}

.card {
    width: 415px;
    height: 485px;
    padding: .8em;
    background: #f5f5f5;
    justify-content: center;
    position: sticky;
    overflow:hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    justify-content: right;
    background-color: #155de44a;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }

   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }

   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }

   .card-img {
    justify-content: center;
   }

   .star {
    width: 20px;
    height: 20px;
    color: gold;
    margin-right: 2px;
  }
  .stars {
    display: flex;
  }
  .author {
    font-style: italic;
    text-align: right;
    color: #555;
  }
  .date-time {
    font-size: 0.85rem;
    color: #888;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .btn-primary {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  .similar-img {
    width: 100%;
    height: 330px;
    object-fit: cover;
  }
  